
.RegTmbody {
    background-color: #8b0dec;
    padding: 10px 10px 10px 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    
    max-height: 100%; 
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    border:white;
    padding-left: 2%;
    padding-right: 2%;
}

.seprateLine{
    height: 5px; 
    width: 100%;
}

.head {
    margin-top: 20px;
    color: #26203B;
    text-align: center;
    margin-bottom: 5px;
    font-size: 48px;
    
}

.title {
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    padding-left: 2%;
}

.intro title {
    margin-bottom: 0px;
    color: #333;
    text-transform: uppercase;
    text-align: left;
    padding-le: 25%;
}

.intro {

    padding-left: 2%;
    margin-bottom: 20px;
    color: #555;
    font-style: italic;
}

.registration-form {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group {
    margin-bottom: 1rem;
}

.label {
    font-weight: 900;

}

.form-group label {
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
}

.btn-primary {
    color: #8c1616;
    background-color: blue;
    border-color: #007bff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ECDEF6;
    border-color: #ECDEF6;
}
