/* CreateGig.css */
#containerGigCreate {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #formLabelGigCreate {
    font-weight: bold;
    font-size: 20px;
  }
  
  #btnPrimaryGigCreate {
    width: 100%;
  }
  
  #btn-lg {
    padding: 15px;
    font-size: 18px;
  }
  
  #textarea {
    resize: vertical;
  }
  