.profile-div {
  margin-top: 1.25em;
}
.profile-image {
  max-width: 12.5em; /* Set the maximum width of the image */
  max-height: 25em; /* Set the maximum height of the image */
  border-radius: 50%;
  object-fit: cover;
  width: 12.5em;
  height: 12.5em;
  position: relative;
  left: 33.75em;
  display: block;
  border-radius: 50%;
  border: solid;
  border-width: thin; 
}
.image-upload-div {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 25em;
  justify-content: space-between;
  margin-left: 25em;
  margin-top: 1.875em;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.1);
}
.choose-file-btn {
  width: 15em; /* Adjust the width as needed */
  flex-grow: 0; /* Prevents the button from growing to fill the space */
  border: 0.125em solid #E8DAF2;
  border-radius: 0.5em;
  border-width: 0.125em;
  padding: 0.625em 0.75em;
  font-size: 1em;
  color: #333;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.choose-file-btn:hover {
  border-color: #0056b3;
}
.image-upload {
  padding: 0.625em 1em;
  border: none;
  border-radius: 0.5em;
  margin-right: 0.625em;
  font-size: 1em;
  color: white;
  background-color: #8436C2;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
#desc-free-para {
  font-size: 1.125em;
  color: black;
  padding-top: 1.25em;
  font-weight: 400;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#desc-free-title, #lang-free-title, #skill-free-title, #edu-title {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1.25em;
  padding-bottom: 0.625em;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lang-list-free {
  display: inline-block;
  color: black;
  font-size: 1.125em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-bottom: 0.625em;
  margin-right: 0.625em; /* Adjust as needed */
}
#skill-free-list {
  display: inline-block;
  color: black;
  font-size: 1.125em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-bottom: 0.625em;
  margin-right: 0.625em; /* Adjust as needed */
}
#edu-list {
  display: list-item;
  color: black;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 0.625em;
}
.image-upload:hover {
  background-color: #0056b3;
}
.image-upload:focus, .choose-file-btn:focus {
  box-shadow: 0 0 0 0.125em rgba(0,123,255,0.5);
}
/* Optional: in case you are using the Font Awesome icon in the button */
.image-upload .fa-file-upload {
  margin-right: 0.3125em;
}
.detail-card {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1.25em;
  margin: 1.25em;
  width: 100%;
  max-width: 81.25em;
  background-color: #E2EBF5;
}
.detail-div-1 {
  padding-left: 46.25em;
  margin-top: -5.8em;
  padding-bottom: 0.625em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  line-height: 1.6;
}
.detail-div-2 {
  padding-left: 46.25em;
  margin-top: 0;
  padding-bottom: 0.625em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  line-height: 1.6;
}
.username {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  font-weight: bolder;
  padding-left: 20em;
  padding-top: 1.25em;
}
.switch-btn {
  background-color: #8436C2;
  color: white;
  position: absolute;
  top: 10.625em;
  border: none;
  padding: 0.9375em 1.25em;
  margin-left: 62.5em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Description-div {
  background-color: #E2EBF5;
}
.show-gigs {
  width: 100%;
  max-width: 82.5em;
  padding-left: 1.25em;
  margin-top: -1.5em;
}
.detail-card p, .detail-card h2 {
  font-size: 1.25em;
  line-height: 1.6;
}
.delete-education, .delete-skill, .Delete-language {
  background-color: #8436c2;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.3125em 0.625em;
  cursor: pointer;
  margin-left: 0.625em;
  transition: background-color 0.3s;
}
.exam-apply-profile{
  background-color: #8436C2;
  color: white;
  top: 10.625em;
  height: 40px;
  font-size: 14px;
  width: 120px;
  border: none;
  padding: 0.9375em 1.25em;
  margin-left: 0em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.badge-prof-disp{
  width: 400px;
  height: 100px;
  padding-left: 80px;
  overflow: scroll;
}
.profile-badge{
  max-width: 45px; 
    max-height: 45px; 
    border-radius: 50%;
    object-fit:contain;
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
    margin-left: -40px;
    display: block;
    border-radius: 50%;
    border: solid;
    border-width: thin;
}
.Add-education, .Add-skill, .Add-language, .Add-description {
  background-color: #8436C2;
  color: white;
  border: none;
  padding: 0.625em 1.25em;
  margin-top: 0.625em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.delete-education:hover, .Add-education:hover, .delete-skill:hover, .Add-skill:hover, .Add-language:hover, .Add-description:hover, .Delete-language:hover {
  background-color: #BE83ED;
}
.group .overlap-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
}
.group .overlap-group button {
  flex: 1; /* makes each button take equal space */
  margin-left: 0.3125em;
  margin-right: 0.3125em;
}
.About-me {
  background-color: #E2EBF5;
  padding: 0.9375em;
  border-radius: 0.5em;
  margin-top: 1.25em;
}
ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
ul p {
  padding: 0.625em;
  border-radius: 0.3125em;
  margin-top: 0.3125em;
  position: relative;
}
.About-me-btn, .Reviews-btn, .My-Gigs, .My-Freelancer-dashboard {
  background-color: #8436c2;
  color: #ffffff;
  border: none;
  padding: 0.625em 1.25em;
  margin-top: 0.625em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.About-me-btn:hover, .Reviews-btn:hover, .My-Gigs:hover, .My-Freelancer-dashboard:hover {
  background-color: #AC69E2;
}
.Languages-div {
  position: relative;
  top: 1.875em;
}
.description-edit-form-free, .Skill--edit-form-free, .edu--edit-form-free, .lang--edit-form-free {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.description-input {
  width: 100%;
  padding: 0.625em;
  border: 0.0625em solid #ccc;
  border-radius: 0.3125em;
  resize: vertical; /* Allow vertical resizing */
}
.Add-Description-btn-free {
  padding: 0.625em 1.25em;
  margin-top: 1.875em;
  background-color: #8436C2;
  color: #fff;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
  margin-top: 3.125em;
}
.Add-Description-btn-free:hover {
  background-color: #45a049;
}
.freelancer-Description-cancel {
  background-color: #8436c2;
  color: #ffffff;
  border: none;
  padding: 0.625em 1.25em;
  margin-left: 3.75em;
  margin-top: -1.25em;
  border-radius: 0.3125em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.freelancer-Description-cancel:hover {
  background-color: #da190b;
}
.description-edit-form-free {
  margin-top: -5em;
  width: 31.25em;
}
.add-language-div {
  margin-bottom: 1.25em;
}
.language-input {
  padding: 0.5em;
  margin-bottom: 0.625em;
  width: 18.75em;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
}
.add-language-btn {
  padding: 0.5em 1em;
  background-color: #8436c2;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.add-language-btn:hover {
  background-color: #45a049;
}
.cancel-language {
  padding: 0.5em 1em;
  background-color: #8436c2;
  color: white;
  border: none;
  margin-left: 12.5em;
  margin-top: -2.625em;
  border-radius: 0.25em;
  cursor: pointer;
}
.cancel-language:hover {
  background-color: #da190b;
}
.Add-edu-for-free {
  width: 50%;
  margin-left: 1.25em;
  margin-bottom: -1.25em;
}
.Institute, .Title, .major, .year {
  width: 100%;
  max-width: 12.5em;
  margin-bottom: 0.625em;
  padding: 0.5em;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.add-education-btn {
  background-color: #8436C2;
  color: white;
  padding: 0.625em 1.25em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.add-education-btn:hover {
  background-color: #45a049;
}
.cancel-Edu {
  padding: 0.5em 1em;
  background-color: #8436c2;
  margin-left: 8.125em;
  margin-top: -2.5em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.cancel-Edu:hover {
  background-color: #da190b;
}
.Skill--edit-form-free {
  margin-bottom: 1.25em;
}
.skill-input {
  padding: 0.5em;
  margin-bottom: 0.625em;
  width: 18.75em;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
}
.add-skill-btn {
  padding: 0.5em 1em;
  background-color: #8436c2;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.add-skill-btn:hover {
  background-color: #45a049;
}
.cancel-skill {
  padding: 0.5em 1em;
  background-color: #8436c2;
  margin-left: 8.75em;
  margin-top: -2.5em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.cancel-skill:hover {
  background-color: #da190b;
}
.free-review-div {
  margin-top: -1.875em;
}
