.inbox{border-color: black;border-style: solid;border-width: 1px;border-radius: 3%;max-height: 600px; overflow: auto; position: relative;}
.inbox-div{max-height: 380px;overflow: auto; width: 100%;}

.inbox {
    background-color: #FFFFFF;
    margin-top: 100px;
    width: 300px; /* Set width of inbox */
    height: 500px; /* Set height of inbox */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Position relative for absolute positioning of scrollbar */
  }
  
  .inbox-div {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable vertical scrollbar */
    padding-right: 30px; /* Add space for scrollbar */
    padding-top: 30px;
    position: relative;
  }
  .one-user-row-inbox-a,.one-user-row-inbox-a:hover{
    color: inherit; /* or color: transparent; */
    text-decoration: none;
  }
  .notification{
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: tomato;
    border-radius: 50%;
    border: tomato;
    border-style: solid;
    width: 15px;
    height: 15px;
  }
  
  /* Create a custom scrollbar */
  .inbox-div::-webkit-scrollbar {
    width: 13px; /* Set width of scrollbar */
    height: 5px;
  }
  
  .inbox-div::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of thumb */
    border-radius: 5px; /* Rounded corners */
  }
  
  .inbox-div::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of track */
  }
 
  .profile-image-inbox {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .inbox-user-name {
    font-size: 20px;
    margin-top: -50px;
    margin-left: 100px;
  }
  
  .latest-msg {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 100px;
  }

  .one-user-row-inbox{
    position: relative;
    width: 260px;
    height: 80px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .one-user-row-inbox:hover{
    background-color: #E5DFEE;
  }
  .people-text{
    margin-left: 100px;
    margin-top: 10px;
  }