.user1-message{background-color: #8436C2;width: 100%;max-width: 300px;height: 100%;}
.user1-message-div{padding-left: 550px;padding-top: 20px;padding-bottom: 20px;}
.message-time{font-size: 10px; padding-left: 160px;color: #FFFFFF;}
.message-text{font-size: 20px; padding-left: 30px;padding-right: 20px; color: #FFFFFF;}
.user2-message{background-color: #E7E7E7;width: 100%;max-width: 300px;}
.message-time-1{font-size: 10px; padding-left: 160px;color: #303030;}
.message-text-1{font-size: 20px; padding-left: 30px;padding-right: 20px; color: #303030;}
.user2-message-div{padding-left: 10px;padding-top: 20px;padding-bottom: 20px;}
.message-div{width: 100%;height: 100%;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);border-width: 1px;border-radius: 3%; max-height: 600px; overflow: hidden; position: relative;height: 600px;}
.message-input{width: 100%;max-width: 720px;height: 100%;position: absolute; bottom: 8px;left: 100px;max-height: 35px;}
.message-send-btn{padding-left: 5px;background-color: #8436C2;margin-left: 20px;border-radius:20%;border-style: none;height: 35px;width: 38px;position: absolute; bottom: 5px;right: 30px;}
.emoji-btn{background-color: yellow; border-radius: 50%;border-style: solid;border-width: 1px;position: absolute; bottom: 10px;left: 40px;width: 40px;height: 40px;}
.message-dispaly{background-image: url('C:\Users\ASUS\Documents\itp_final\FrontEnd\react-frontend\src\images\messagebckground.jpg');background-position: center;background-size:cover;background-repeat: no-repeat; max-height: 350px;overflow: auto; width: 100%;top: 30px;}
.message-div {position: absolute;width: 900px;height: 510px;margin-left: 320px;margin-top: -510px;background-color: white;}
.emoji-picker {position: absolute; bottom: 60px; left: 10px; z-index: 10; width: auto; height: auto; background: white; border-radius: 8px;box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);}
.messaging-platform {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E2EBF5;
    margin-left: -80px;
    margin-top: -150px;
  }
  .inbox{
    margin-top: 40px;
  }
  .message-full-div {
    position: fixed;
    margin-top: 240px;
    margin-left: 150px;
    background-color: #E2EBF5;
    position: relative; /* Add this to position its child elements properly */
    
  }

  .msg-profile-div{
    height: 100px;
    margin-top: 0px;
}
.horizontel{
  position: relative;
  top: 20px;
}
.profile-image-msg {
    max-width: 45px; 
    max-height: 45px; 
    border-radius: 50%;
    object-fit: cover;
    width: 45px;
    height: 45px;
    position: relative;
    left: 60px;
    top: 15px;
    display: block;
    border-radius: 50%;
    border: solid;
    border-width: thin; 
}
.profile-image-msg:hover{
    border-color: azure;
}
.user2-username{
  position: relative;
  top: 10px;
  padding-left: 130px;
  margin-top: -38px;
}